html,body{

margin:0px;

height:100%;


}

body{
	background-image: url("http://www.hdfondos.eu/preview/get_photo/83357/1920/1080");
	background-repeat: no-repeat;
}


	section{

		border-right: 2px solid black;
		height: 100%;
		

	}

	aside{

		
		height: 100%;
		
	}

	#contenedor{
		padding-top: 65px;
		height: 100%;
		background-color: white;
	}
