html,body{
    margin:0px;
}

body{
    background: url("http://www.hdfondos.eu/preview/get_photo/83357/1920/1080") ;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-size: cover;
}


section{
    border-right: 2px solid black;
    height: 100%;
}

aside{
    height: 100%;
}

#contenedor{
    padding-top: 65px;
    height: 100%;
    background-color: #F0F1FF;
}
