html,body{
    margin:0px;
}

body{
    /* background: url("http://www.hdfondos.eu/preview/get_photo/83357/1920/1080") ;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,207cca+18,207cca+18,207cca+19,207cca+21,207cca+24,207cca+24,207cca+26,207cca+29,207cca+32,207cca+39,2b88d9+43,2b88d9+43,2b88d9+50,7db9e8+62 */
    /* background: linear-gradient(45deg, #3b679e 0%,#207cca 18%,#207cca 18%,#207cca 19%,#207cca 21%,#207cca 24%,#207cca 24%,#207cca 26%,#207cca 29%,#207cca 32%,#207cca 39%,#2b88d9 43%,#2b88d9 43%,#2b88d9 50%,#7db9e8 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background: #F0F1FF; /* Old browsers */
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-size: cover;
}

#todasIncidenciasTable_wrapper{
    margin:0 auto;
   /*width: 80%;*/
}

section{
    border-left: 2px solid black;
    height: 100%;
}

aside{
    height: 100%;
}

#contenedor{
    padding-top: 65px;
    height: 100%;
    background-color: #F0F1FF;
}
.bcancelar{
    color: white !important;
    display: flex !important;
    align-items: center !important;
}

.responAside{

    display: none;
}


/*MEDIA QUERIES*/
@media (max-width: 1200px){

    section{
        border : none;

    }
    aside{
        display:none;

    }

    .responAside{

        display: block;
    }
}


@media (max-width: 720px){

    aside{
        display:none;

    }

    .responAside{

        display: block;
    }
}

@media (max-width: 820px){

    body{
        background-color: #F0F1FF;
    }
}
