{% extends "index.html" %}

{% block content %}

<section class="col-xl-10 col-md-12">
    <div class="row">
        <div class="col-12 d-flex justify-content-center" style=" margin-top: 10px; margin-bottom: 20px;">
            <div class="form-inline">
                <select class="form-control filtro" name="categoria">
                    {% for categoria in datos.categorias%}
                    <option value="{{categoria.idCategoria}}">{{categoria.nombre}}</option>
                    {%endfor%}
                </select>&nbsp;&nbsp;
                <select class="form-control filtro" name="empresa">
                    {% for empresa in datos.empresas%}
                    <option value="{{empresa.idEmpresa}}">{{empresa.nombre}}</option>
                    {%endfor%}
                </select>&nbsp;&nbsp;
                <select class=" form-control filtro" name="prioridad">
                    <option value="0">baja</option>
                    <option value="1">media</option>
                    <option value="2">alta</option>
                    <option value="3">urgente</option>
                </select>&nbsp;&nbsp;
                <button class="btn btn-info" id="todas">todas</button>
            </div>
        </div>    
        <div id="estadistica1" class="col-6"></div>
        <div id="estadistica2" class="col-6"></div>
        <div id="estadistica3" class="col-6"></div>
        <div id="estadistica4" class="col-6"></div>   
    </div>
</section>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="js/estadisticas.js"></script>
{%endblock%}
