{% extends "index.html" %}

{% block content %}

<section class="col-10">
    <div>      
        <form action="index.php?controller=incidencia&action=update&id={{datos.incidencia.idIncidencia}}" method="post"> 
            <div class="row" style="margin-bottom: 3%;">
                <h4 class="col-sm-6">Incidencia</h4>
                <button type="submit" class="btn btn-warning offset-5" title="modificar incidencia"><i class="fas fa-edit"></i></button>
            </div>
            <div class="form-group row">                    
                <label for="emp" class="col-sm-1 offset-1 col-form-label">Empresa</label>
                <div class="col col-sm-3">
                     <input type="text" class="form-control" id="emp" name="empresa" value="{{datos.incidencia.empresa}}" placeholder="{{datos.incidencia.empresa}}">
                </div>
                <label for="tit" class="col-sm-1 offset-1 col-form-label">Título</label>
                <div class="col col-sm-3">
                    <input type="text" class="form-control" id="tit" name="titulo" value="{{datos.incidencia.titulo}}" placeholder="{{datos.incidencia.titulo}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="fech" class="col-sm-1 offset-1 col-form-label">Fecha</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" id="fech" name="fecha" value="{{datos.incidencia.fechaFormateada}}">
                </div>
                <label for="pri" class="col-sm-1  offset-1 col-form-label">Prioridad</label>
                <div class="col col-sm-3">
                    <input type="text" class="form-control" id="pri" name="prioridad" value="{{datos.incidencia.prioridad}}" placeholder="{{datos.incidencia.prioridad}}">
                </div>
            </div>
            <div class="form-group row">                    
                <label for="est" class="col-sm-1 offset-1 col-form-label">Estado</label>
                <div class="col col-sm-3">
                    <input type="text" class="form-control" id="est" name="estado" value="{{datos.incidencia.estado}}" placeholder="{{datos.incidencia.estado}}">
                </div>
                <label for="cat" class="col-sm-1 offset-1 col-form-label">Categoria</label>
                <div class="col col-sm-3">
                    <input type="text" class="form-control" id="cat" name="categoria" value="{{datos.incidencia.categoria}}" placeholder="{{datos.incidencia.categoria}}">
                </div>
            </div>                
            <div class="form-group row">
                <label for="tec" class="col-sm-1 offset-1 col-form-label">Técnico</label>
                <div class="col col-sm-3">
                    <input type="text" class="form-control" id="tec" name="tecnico" value="{{datos.incidencia.tecnico}}" placeholder="{{datos.incidencia.nombreTecnico}} {{datos.incidencia.apellidosTecnico}}">
                </div>
                <label for="con" class="col-sm-1 offset-1 col-form-label">Contacto</label>
                <div class="col col-sm-3">
                    <input type="text" class="form-control" id="con" name="contacto" value="{{datos.incidencia.contacto}}" placeholder="{{datos.incidencia.nombreContacto}} {{datos.incidencia.apellidoContacto}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="des" class="col-sm-1 offset-1 col-form-label">Descripción</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="des" rows="3" name="descripcion" placeholder="{{datos.incidencia.descripcion}}"></textarea>
                    <input type="hidden" name="viejoDescripcion" value="{{datos.incidencia.descripcion}}" />
                </div>
            </div>
        </form>            
    </div>

    <hr style="border: 1px solid black;">

    <div class="tab-content" id="myTabContent2">
        <div class="row" style="margin-bottom: 3%;">
            <h4 class="col-sm-6">Seguimiento</h4>
            <a class="btn btn-success offset-5" href="#" data-toggle="modal" data-target="#añadirSeguimiento" title="añadir segumiento"><i class="fas fa-plus"></i></a>
        </div>
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-hover table-responsive-lg">
                <thead class="thead-dark colorfondo">
                    <tr>
                        <th scope="col">Fecha y Hora</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Técnico</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>                        
                    {% for seguimiento in datos.seguimientos %}
                    <tr style="margin-top: 10px;">
                        <th scope="row">{{seguimiento.fecha}}</th>
                        <td>{{seguimiento.descripcion}}</td>
                        <td>{{seguimiento.nombreTecnico}} {{seguimiento.apellidosTecnico}}</td>                                  
                    </tr>                        
                    {%endfor%}
                </tbody>
            </table>
        </div>  
</section>

<!-- Modal -->
<div class="modal fade" id="añadirSeguimiento" tabindex="-1" role="dialog" aria-labelledby="incidenciaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de Incidencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="index.php?controller=seguimiento&action=crear" method="POST" id="formSeguimiento">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="desSeg" class="col-sm-3 col-form-label">Descripción</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="desSeg" rows="3" name="descripcion" placeholder="descripción"></textarea>
                        </div>
                    </div>                                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>


{%endblock%}
