{% extends "index.html" %}

{% block content %}

<section class="col-10">
    <div>      
        <form id="editarIncidenciaForm" method="post"> 
            <div class="row" style="margin-bottom: 3%;">
                <h4 class="col-sm-6">Incidencia</h4>
                <input type="hidden" id="idIncidencia" name="incidenciaSeguimiento" value="{{datos.incidencia.idIncidencia}}" />
                {%if datos.incidencia.tecnico==datos.yo%}
                <button type="button" class="btn btn-primary offset-4" id="cerrarIncidencia"  data-toggle="modal" data-target="#confirmarCerrar" title="cerrar incidencia"><i class="fas fa-lock"></i></button>
                <a href="index.php?controller=incidencia&action=ver&id={{datos.incidencia.idIncidencia}}" class="btn btn-secondary offset-4" id="btnCancelarModificar" title="cancelar modificar" hidden><i class="fas fa-times"></i></a>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-warning" id="btnActivarModificar" title="modificar incidencia"><i class="fas fa-edit"></i></button>
                <button type="submit" class="btn btn-success" id="btnGuardarModificar" title="guardar cambios" hidden><i class="fas fa-check"></i></button>
                {%endif%}
            </div>
            <div class="form-group row">                    
                <label for="nombreEmpresaModificar" class="col-sm-1 offset-1 col-form-label">Empresa</label>
                <div class="col col-sm-3">
                    <input type="hidden" id="empresaModificar" name="empresa" value="{{datos.incidencia.empresa}}" />
                    <input type="text" class="form-control" id="nombreEmpresaModificar" name="empresaNombre" value="{{datos.incidencia.nombreEmpresa}}" disabled>
                </div>
                <label for="tit" class="col-sm-1 offset-1 col-form-label">Título</label>
                <div class="col col-sm-3">
                    <input type="hidden" id="tituloActual" name="tituloIncidencia" value="{{datos.incidencia.titulo}}" />
                    <input type="text" class="form-control" id="tit" name="titulo" value="{{datos.incidencia.titulo}}" disabled />
                </div>
            </div>
            <div class="form-group row">
                <label for="fech" class="col-sm-1 offset-1 col-form-label">Fecha</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" id="fech" name="fecha" value="{{datos.incidencia.fechaFormateada}}" disabled>
                </div>
                <label for="inputPrioridadModificar" class="col-sm-1  offset-1 col-form-label">Prioridad</label>
                <div class="col col-sm-3">
                    <input type="hidden" id="prioridadActual" name="prioridad" value="{{datos.incidencia.prioridad}}" />
                    <select name="prioridad" class="form-control camposFormModificar" id="inputPrioridadModificar" disabled>
                        <option value="{{datos.incidencia.prioridad}}" selected>{{datos.nombrePrioridad}}</option>
                        <option value="0">Baja</option>
                        <option value="1">Media</option>
                        <option value="2">Alta</option>
                        <option value="3">Urgente</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">                    
                <label for="inputTecnicoModificar" class="col-sm-1 offset-1 col-form-label">Técnico</label>
                <div class="col col-sm-3">
                    <input type="hidden" id="tecnicoActual" name="tecnico" value="{{datos.incidencia.tecnico}}" />
                    <select name="tecnico" class="form-control camposFormModificar" id="inputTecnicoModificar" disabled></select>
                </div>
                <label for="inputCategoriaModificar" class="col-sm-1 offset-1 col-form-label">Categoria</label>
                <div class="col col-sm-3">
                    <input type="hidden" id="categoriaActual" name="categoria" value="{{datos.incidencia.categoria}}" />
                    <select name="categoria" class="form-control camposFormModificar" id="inputCategoriaModificar" disabled></select>
                </div>
            </div>                
            <div class="form-group row">                
                <label for="inputContactoModificar" class="col-sm-1 offset-1 col-form-label">Contacto</label>
                <div class="col col-sm-3">
                    <input type="hidden" id="contactoActual" name="contacto" value="{{datos.incidencia.contacto}}" />
                    <select name="contacto" class="form-control camposFormModificar" id="inputContactoModificar" disabled></select>                    
                </div>
                
                <label for="telContacto" class="col-sm-1 offset-1 col-form-label">Teléfono</label>
                <div class="col col-sm-3">
                    <input type="text" class="form-control" id="telContacto" name="telefonoContacto" value="{{datos.incidencia.telefonoContacto}}"  disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputDescripcion" class="col-sm-1 offset-1 col-form-label">Descripción</label>
                <div class="col-sm-8">
                    <textarea class="form-control camposFormModificar" id="inputDescripcion" rows="3" name="descripcion" disabled>{{datos.incidencia.descripcion}}</textarea>
                    <input type="hidden" id="descripcionActual" name="viejoDescripcion" value="{{datos.incidencia.descripcion}}" />
                </div>
            </div>
        </form>            
    </div>

    <hr style="border: 1px solid black;">

    <div class="tab-content" id="myTabContent2">
        <div class="row" style="margin-bottom: 3%;">
            <h4 class="col-sm-6">Seguimiento</h4>
             {%if datos.incidencia.tecnico==datos.yo%}
            <a class="btn btn-success offset-4" href="#" data-toggle="modal" data-target="#anadirSeguimiento" title="añadir seguimiento"><i class="fas fa-plus" style="margin-top: 3px;"></i></a>
            {%endif%}
        </div>
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-hover table-responsive-lg" id="pruebatabla">
                <thead class="thead-dark colorfondo">
                    <tr>
                        <th scope="col">Fecha y Hora</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Técnico</th>
                        
                    </tr>
                </thead>
                <tbody id="bodySeguimientos">                        
                    {% for seguimiento in datos.seguimientos %}
                    <tr>
                        <th scope="row">{{seguimiento.fecha}}</th>
                        <td>{{seguimiento.descripcion}}</td>
                        <td>{{seguimiento.nombreTecnico}} {{seguimiento.apellidosTecnico}}</td>            
                        
                    </tr>                        
                    {%endfor%}
                </tbody>
            </table>
        </div>  
</section>


<script src="js/incidencia.js"></script>
<script>
    $(document).ready(function(){    
       
    $('#pruebatabla').DataTable(
            {
                responsive:true,
        
                "lengthMenu": [ 8]

        
            });
});

</script>
{%endblock%}

