{% extends "index.html" %}

{% block content %}
<section class="col-xl-10 col-md-12">
    <table class="table table-hover responsive"  id="tablaIncidencias">
        <thead class="thead-dark colorfondo">
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for incidencia in datos.incidencias %}
            {% if incidencia.estado == 0 %}
            <tr>
                <th scope="row">{{incidencia.titulo}}</th>
                <td>{{incidencia.fecha}}</td>
                <td>{{incidencia.nombreCategoria}}</td>
                <td class="d-flex justify-content-end">
                    <a  href="index.php?controller=incidencia&action=ver&id={{incidencia.idIncidencia}}" title="ver incidencia" ><button class="btn btn-info"><i class="fa fa-eye"></i></button></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary borrar" title="cerrar incidencia" value="{{incidencia.idIncidencia}}"><i class="fas fa-lock"></i></button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger borrar" title="borrar incidencia" value="{{incidencia.idIncidencia}}"><i class="fas fa-trash-alt"></i></button>               
                </td>            
            </tr>
            {% endif %}
            {%endfor%}
        </tbody>
    </table>
</section>

{%endblock%}
