{% extends "index.html" %}

{% block content %}
<div  id="contenedor" class="row">

<section class="col-8">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><!-- 1º tab-->
  	<table class="table table-hover" style="margin-top: 10px;">
  <thead class="thead-dark colorfondo">
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Fecha</th>
      <th scope="col">Categoria</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   
    {% for incidencia in datos.incidencias %}
    <tr>
        <th scope="row">{{incidencia.titulo}}</th>
        <td>{{incidencia.descripcion}}</td>
        <td>{{incidencia.fecha}}</td>
        <td>{{incidencia.nombreCategoria}}</td>
        <td><a class="btn btn-primary" href="index.php?controller=incidencia&action=ver&id={{incidencia.idIncidencia}}" title="ver incidencia" ><i class="fa fa-eye"></i></a></td>
        
    </tr>
    {%endfor%}
  </tbody>
</table>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">TAB2</div><!-- 2º tab-->
  <!-- 3º tab-->
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</section>
<aside class="col-4">  
	<div class="list-group">
  <span class="list-group-item list-group-item-action active">OPCIONES</span>
  <a href="index.php?controller=incidencia&action=estadisticas" class="list-group-item list-group-item-action">Estadisticas</a>
  <a href="#" class="list-group-item list-group-item-action">Mantenimientos</a>
</div>
</aside>
</div>

{%endblock%}
