
{% extends "index.html" %}

{% block content %}

<section class="col-10">
    <div>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filtro" aria-expanded="false" aria-controls="filtro" title="filtros">
            <i class="fas fa-sliders-h"></i>
        </button>
    </div>
    <div class="collapse" id="filtro" style="margin-top: 10px">
        <div class="card card-body">
            <!-- Formulario para los filtros de búsqueda -->
            <form method="POST" action="index.php?controller=incidencia&action=filtroIncidencias">
                <div class="form-row  d-flex justify-content-center">                    
                    <div class="form-group col-md-3">
                        <label for="inputTecnicoFiltro" class="col-form-label">Técnico</label>
                        <select name="tecnico" class="form-control form-control-sm" id="inputTecnicoFiltro" >
                            <option value="">Seleccione opcion</option>
                            {% for tecnico in datos.tecnicos %}
                            <option value="{{tecnico.idUsuario}}">{{tecnico.nombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputCategoriaFiltro" class="col-form-label">Categoría</label>
                        <select name="categoria" class="form-control form-control-sm" id="inputCategoriaFiltro" >
                            <option value="">Seleccione opcion</option>
                            {% for categoria in datos.categorias %}
                            <option value="{{categoria.idCategoria}}">{{categoria.nombre}}</option>
                            {%endfor%} 
                        </select>                        
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEstadoFiltro" class="col-form-label">Estado</label>
                        <select name="estado" class="form-control form-control-sm" id="inputEstadoFiltro" >
                            <option value="">Seleccione opcion</option>
                            <option value="0">No realizado</option>
                            <option value="1">Realizado</option>
                        </select>
                    </div>                   
                </div>                
                <div class="form-row  d-flex justify-content-center">
                    <div class="form-group col-sm-3">
                        <label for="inputPrioridadFiltro" class="col-form-label">Prioridad</label>
                        <select name="prioridad" class="form-control form-control-sm" id="inputPrioridadFiltro" >
                            <option value="">Seleccione opcion</option>
                            <option value="0">Baja</option>
                            <option value="1">Media</option>
                            <option value="2">Alta</option>
                            <option value="3">Urgente</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="nombreEmpresaFiltro" class="col-form-label">Empresa</label>
                        <select class="form-control form-control-sm" id="nombreEmpresaFiltro" name="empresa">
                            <option value="">Seleccione opcion</option>
                            {% for empresa in datos.empresas %}
                            <option value="{{empresa.idEmpresa}}">{{empresa.nombre}}</option>
                            {%endfor%} 
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-info" title="buscar"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="row">
        <!-- Tabla para mostrar todas las Incidencias y los resultados de los filtrados de búsqueda -->
        <table class="table table-hover   col-12"  id="todasIncidenciasTable" style="" >
            <thead class="thead-dark colorfondo">
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col" class="">Estado</th>
                    <th scope="col">Prioridad</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Categoria</th>
                     <th scope="col">Empresa</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody >
                {% for incidencia in datos.incidencias %}
                <tr>
                    <th scope="row">{{incidencia.titulo}}</th>
                    <td class=""><img src="img/estado/{{incidencia.estado}}.png" alt="prioridad"><span style="display: none;">{{incidencia.estado}}</span></td>
                      <td class=""><img src="img/{{incidencia.prioridad}}.png" alt="prioridad"><span style="display: none;">{{incidencia.prioridad}}</span></td>
                    <td>{{incidencia.fecha}}</td>
                    <td>{{incidencia.nombreCategoria}}</td>
                    <td>{{incidencia.nombreEmpresa}}</td>
                    <td class="d-flex justify-content-end">
                        <a  href="index.php?controller=incidencia&action=ver&id={{incidencia.idIncidencia}}" title="ver incidencia" >
                            <button class="btn btn-info">
                                <i class="fa fa-eye"></i>
                            </button>
                        </a>
                        &nbsp;
                        {%if incidencia.tecnico==datos.yo%}
                        {%if incidencia.estado==1%}
                        <button class="btn btn-secondary bcerrar" title="cerrar incidencia"  disabled="disabled"   value="{{incidencia.idIncidencia}}">
                            <i class="fas fa-lock"></i>
                        </button>
                        {%else%}
                        <button class="btn btn-primary bcerrar" title="cerrar incidencia"     value="{{incidencia.idIncidencia}}">
                            <i class="fas fa-lock"></i>
                        </button>
                        {%endif%}
                        &nbsp;
                        <button class="btn btn-danger borrar" title="borrar incidencia" value="{{incidencia.idIncidencia}}">
                            <i class="fas fa-trash-alt"></i>
                        </button> 
                        {%else%}
                        <button class="btn btn-secondary bcerrar" title="cerrar incidencia" value="{{incidencia.idIncidencia}}" disabled="disabled">
                            <i class="fas fa-lock"></i>
                        </button>
                        &nbsp;
                        <button class="btn btn-secondary borrar" title="borrar incidencia" value="{{incidencia.idIncidencia}}" disabled="disabled">
                            <i class="fas fa-trash-alt"></i>
                        </button> 
                        {%endif%}
                    </td> 
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</section>

<!-- script para la paginación -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#todasIncidenciasTable').DataTable(
                {
                    responsive: true,
                    "lengthMenu": [15, 10, 5]
                });
    });
</script>
{%endblock%}
