
{% extends "index.html" %}

{% block content %}


<section class="col-10">
    <div>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filtro" aria-expanded="false" aria-controls="filtro">
            Filtro
        </button>
    </div>
    <div class="collapse" id="filtro" style="margin-top: 10px">
        <div class="card card-body">
            <!--prueba -->
            <form method="POST" action="index.php?controller=incidencia&action=filtroIncidencias">
                <div class="form-group row">                    
                    <label for="inputTecnicoFiltro" class="col-sm-1 offset-1 col-form-label">Técnico</label>
                    <div class="col col-sm-3">
                        <select name="tecnico" class="form-control camposFormModificar" id="inputTecnicoFiltro" >
                            <option>Seleccione opcion</option>
                            {% for tecnico in datos.tecnicos %}
                            <option value="{{tecnico.idUsuario}}">{{tecnico.nombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <label for="inputCategoriaFiltro" class="col-sm-1 offset-1 col-form-label">Categoria</label>
                    <div class="col col-sm-3">
                        <select name="categoria" class="form-control camposFormModificar" id="inputCategoriaFiltro" >
                            <option>Seleccione opcion</option>
                            {% for categoria in datos.categorias %}
                            <option value="{{categoria.idCategoria}}">{{categoria.nombre}}</option>
                            {%endfor%} 
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEstadoFiltro" class="col-sm-1 offset-1 col-form-label">Estado</label>
                    <div class="col col-sm-3">
                        <input type="text" class="form-control"  name="estado"  id="inputEstadoFiltro">
                    </div>
                    <label for="inputPrioridadFiltro" class="col-sm-1  offset-1 col-form-label">Prioridad</label>
                    <div class="col col-sm-3">
                        <select name="prioridad" class="form-control" id="inputPrioridadFiltro" >
                            <option value="">Seleccione opcion</option>
                            <option value="0">Baja</option>
                            <option value="1">Media</option>
                            <option value="2">Alta</option>
                            <option value="3">Urgente</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">                    
                    <label for="fechaInicialFiltro" class="col-sm-1 offset-1 col-form-label" >Fecha Inicial</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="fechaInicial" name="fechaInicialFiltro">
                    </div>
                    <label for="fechaFinalFiltro" class="col-sm-1 offset-1 col-form-label">Fecha Final</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="fechaFinal" name="fechaFinalFiltro" >
                    </div>
                </div>

                <div class="form-group row">                 
                    <label for="nombreEmpresaFiltro" class="col-sm-1 offset-1 col-form-label">Empresa</label>
                    <div class="col col-sm-3">
                        <select class="form-control" id="nombreEmpresaFiltro" name="empresa">
                             <option>Seleccione opcion</option>
                            {% for empresa in datos.empresas %}
                            <option value="{{empresa.idEmpresa}}">{{empresa.nombre}}</option>
                            {%endfor%} 
                        </select>
                    </div>
                </div>
                
                 <button type="submit" class="btn btn-primary">Buscar</button>

            </form>  <!-- fin: prueba -->


        </div>


    </div>
    <table class="table table-hover"  id="todasIncidenciasTable" style="margin-top:10px;" >
        <thead class="thead-dark colorfondo">
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for incidencia in datos.incidencias %}
            <tr>
                <th scope="row">{{incidencia.titulo}}</th>
                <td>{{incidencia.descripcion}}</td>
                <td>{{incidencia.fecha}}</td>
                <td>{{incidencia.nombreCategoria}}</td>
                <td><a class="btn btn-primary" href="index.php?controller=incidencia&action=ver&id={{incidencia.idIncidencia}}" title="ver incidencia" ><i class="fa fa-eye"></i></a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</section>

{%endblock%}
