
{% extends "index.html" %}

{% block content %}

<section class="col-10">
    <div>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filtro" aria-expanded="false" aria-controls="filtro">
            Filtro
        </button>
    </div>
    <div class="collapse" id="filtro" style="margin-top: 10px">
        <div class="card card-body">
            Añadir formulario para filtros
        </div>
    </div>
    <table class="table table-hover" style="margin-top: 10px;" id="todasIncidenciasTable">
        <thead class="thead-dark colorfondo">
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for incidencia in datos.incidencias %}
            <tr>
                <th scope="row">{{incidencia.titulo}}</th>
                <td>{{incidencia.descripcion}}</td>
                <td>{{incidencia.fecha}}</td>
                <td>{{incidencia.nombreCategoria}}</td>
                <td><a class="btn btn-primary" href="index.php?controller=incidencia&action=ver&id={{incidencia.idIncidencia}}" title="ver incidencia" ><i class="fa fa-eye"></i></a></td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</section>

{%endblock%}